.bg-finance-changer {
  background: var(--background-color);
}

.bg-currency-changer {
  background: rgba(98, 165, 192, 0.2);
  color: var(--currency-color);
}

@media (min-width: 768px) {
  .bg-finance-changer {
    background: var(--summary-background-color);
  }
}
