@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] {
  --background-color: #2b2b2b;
  --text-color: white;
  --target-color: white;
  --hover-color: rgb(56, 56, 56);
  --button-hover-color: #c53103;
  --icon-color: #b82b00;
  --border-color: #a1a1a1;
  --shadow-color: #b82b00;
  --button-color: #b82b00;
  --add-button-color: #b82b00;
  --progress-color: #b82b00;
  --svg-fill-color: white;
  --summary-background-color: linear-gradient(
      to top right,
      #a527b0 0%,
      transparent 50%
    ),
    linear-gradient(to right, #f63b3b 8%, #f16363 100%);
  --currency-color: white;
}

html[data-theme="light"] {
  --background-color: white;
  --text-color: black;
  --target-color: black;
  --hover-color: rgb(229 231 235);
  --button-hover-color: #42a5f5;
  --icon-color: #60a5fa;
  --border-color: #d1d5db;
  --shadow-color: #6b7280;
  --button-color: #3b82f6;
  --add-button-color: #3b82f6;
  --progress-color: #3b82f6;
  --svg-fill-color: black;
  --summary-background-color: linear-gradient(
      to top right,
      #9c27b0 0%,
      transparent 50%
    ),
    linear-gradient(to right, #3b82f6 8%, #6366f1 100%);
  --currency-color: #60a5fa;
}
html[data-theme="green"] {
  --background-color: #e0f7fa;
  --text-color: black;
  --hover-color: rgb(200 230 201);
  --button-hover-color: #66bb6a;
  --icon-color: #4caf50;
  --shadow-color: #66bb6a;
  --button-color: #4caf50;
  --add-button-color: #66bb6a;
  --progress-color: #66bb6a;
  --svg-fill-color: black;
  --summary-background-color: linear-gradient(
      to top right,
      #3cc776 0%,
      transparent 50%
    ),
    linear-gradient(to right, #4dbe43 8%, #42a847 100%);
  --currency-color: #ffffff;
}

html[data-theme="purple"] {
  --background-color: #fffde7;
  --text-color: black;
  --hover-color: rgb(255 249 196);
  --button-hover-color: #cb2dfb;
  --icon-color: #cb2dfb;
  --shadow-color: #cb2dfb;
  --button-color: #cb2dfb;
  --add-button-color: #cb2dfb;
  --progress-color: #cb2dfb;
  --svg-fill-color: black;
  --currency-color: #cb2dfb;
  --summary-background-color: linear-gradient(
      to top right,
      #d875e6 0%,
      transparent 50%
    ),
    linear-gradient(to right, #db26db 8%, #8b23a5 100%);
  --currency-color: #ffffff;
}

body {
  background-color: var(--background-color);
}
